.navbar {
  background-color: rgba(61, 61, 61, 0.5607843137);
  color: #929292;
  color: #1d1d1d;
  display: flex;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  top: 0;
}
.navbar .nav-content {
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
  min-height: 20px;
  padding: 5px 15px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-content svg {
  color: #1d1d1d;
  width: 1.5rem;
  height: 1.5rem;
}
.navbar .nav-content p {
  font-size: 0.9rem;
}