.p-datetime {
  padding: 0;
  margin: 0;
  width: fit-content;
  height: fit-content;
  text-wrap: nowrap;
  // font-size: smaller;
  font-size: 0.8rem;
  text-align: center;
  vertical-align: middle;
}
